body{
    margin: 0;
}

header{
    background-color: #a31621;
    height: 10vh;
    width: 100%;
}

main{
    height: 70vh;
    width: 100%;
}

footer{
    background-color: #a31621;
    height: 20vh;
    width: 100%;
}

/****************************************************/
/*MEDIA QUERY*/
/****************************************************/
@media screen and (max-width: 768px){
    header{
        background-color: #3d348b;
        height: 5vh;
    }
    
    main{
        height: 85vh;
    }
    
    footer{
        background-color: #3d348b;
        height: 10vh;
    }
}